.git
.gitignore

**/node_modules
**/.pnpm-store
**/build
**/dist
**/.svelte-kit
**/coverage
**/tmp
**/storage

**/.env
**/.env.*
!**/.env.example
!**/.env.test.example
**/.codex
**/.agents
**/docs
planning

**/*.log
.DS_Store
